################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BTNCompare/v15
/BTNCompare/bin/Debug
/BTNCompare/obj/Debug
